Section 1: Pandas Basics

In [1]:
# Import pandas library and dataset
import pandas as pd

#from the listing csv import the relevant data
listings = pd.read_csv("listings.csv")

Check the data Listings

In [2]:
listings.head()

,Symbol,Exchange,Name,Last_Price,Market_Cap,ADR TSO,IPO_Year,Sector,Industry
0,A,NYSE,"Agilent Technologies, Inc.",81.68,2.593470e+10,NaN,1999.0,Capital Goods,Biotechnology: Laboratory Analytical Instruments
1,AA,NYSE,Alcoa Corporation,29.15,5.407810e+09,NaN,2016.0,Basic Industries,Aluminum
2,AABA,NASDAQ,Altaba Inc.,75.39,4.278113e+10,NaN,NaN,Technology,EDP Services
3,AAC,NYSE,"AAC Holdings, Inc.",2.16,5.314109e+07,NaN,2014.0,Health Care,Medical Specialities
4,AAL,NASDAQ,"American Airlines Group, Inc.",34.02,1.527687e+10,NaN,NaN,Transportation,Air Freight/Delivery Services

Details on the columns
1. Symbol: A Stock Ticker Symbol is an abbreviation used to uniquely identify publicly traded shares of a particular stock on a particular stock market
2. Exchange: Marketplace in which shares are traded
3. Name: Legal Company Name
4. Last_Price: Last Trading Price (as of April 2019)
5. Market_Cap: Dollar Value of Outstanding Shares (as of April 2019). Computed as Shares times current Price.
6. ADR_TSO: Additional Information on foreign stocks trading in the US
7. IPO_Year: Year of Initial Public Offering
8. Sector: Sector of main business activity
9. Industry: Industry of main business activity

Inspect the first 10 rows

In [3]:
listings.head(10)

,Symbol,Exchange,Name,Last_Price,Market_Cap,ADR TSO,IPO_Year,Sector,Industry
0,A,NYSE,"Agilent Technologies, Inc.",81.68,2.593470e+10,NaN,1999.0,Capital Goods,Biotechnology: Laboratory Analytical Instruments
1,AA,NYSE,Alcoa Corporation,29.15,5.407810e+09,NaN,2016.0,Basic Industries,Aluminum
2,AABA,NASDAQ,Altaba Inc.,75.39,4.278113e+10,NaN,NaN,Technology,EDP Services
3,AAC,NYSE,"AAC Holdings, Inc.",2.16,5.314109e+07,NaN,2014.0,Health Care,Medical Specialities
4,AAL,NASDAQ,"American Airlines Group, Inc.",34.02,1.527687e+10,NaN,NaN,Transportation,Air Freight/Delivery Services
5,AAMC,AMEX,Altisource Asset Management Corp,29.90,4.738157e+07,NaN,NaN,Finance,Real Estate
6,AAME,NASDAQ,Atlantic American Corporation,2.48,4.998398e+07,NaN,NaN,Finance,Life Insurance
7,AAN,NYSE,"Aaron&#39;s, Inc.",53.54,3.628838e+09,NaN,NaN,Technology,Diversified Commercial Services
8,AAOI,NASDAQ,"Applied Optoelectronics, Inc.",12.30,2.445561e+08,NaN,2013.0,Technology,Semiconductors
9,AAON,NASDAQ,"AAON, Inc.",44.88,2.336955e+09,NaN,NaN,Capital Goods,Industrial Machinery/Components

Inspect the last 5 data rows

In [4]:
listings.tail()

,Symbol,Exchange,Name,Last_Price,Market_Cap,ADR TSO,IPO_Year,Sector,Industry
6847,ZUMZ,NASDAQ,Zumiez Inc.,26.72,6.819191e+08,NaN,2005.0,Consumer Services,Clothing/Shoe/Accessory Stores
6848,ZUO,NYSE,"Zuora, Inc.",19.79,2.147266e+09,NaN,2018.0,Technology,Computer Software: Prepackaged Software
6849,ZYME,NYSE,Zymeworks Inc.,15.74,5.040782e+08,NaN,2017.0,Health Care,Major Pharmaceuticals
6850,ZYNE,NASDAQ,"Zynerba Pharmaceuticals, Inc.",7.85,1.653995e+08,NaN,2015.0,Health Care,Major Pharmaceuticals
6851,ZYXI,NASDAQ,"Zynex, Inc.",5.02,1.618349e+08,NaN,NaN,Health Care,Biotechnology: Electromedical & Electrotherape...

In the dataset there are 6852 data points (0-6852)

Get critical information on the data

In [5]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6852 entries, 0 to 6851
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Symbol      6852 non-null   object
 1   Exchange    6852 non-null   object
 2   Name        6852 non-null   object
 3   Last_Price  6745 non-null   float64
 4   Market_Cap  5954 non-null   float64
 5   ADR TSO     140 non-null    float64
 6   IPO_Year    3105 non-null   float64
 7   Sector      5309 non-null   object
 8   Industry    5309 non-null   object
dtypes: float64(4), object(5)
memory usage: 481.9+ KB

As it is clearly depicted we have NAN and Missing Values
1. Last_Price -> There are missing 6852 - 6745 = 107
2. Market_Cap -> There are missing 6852 - 5954 = 898
3. ADR TSO -> There are many more missing than usual -> 6852 - 140 = 6712
4. IPO_Year -> There are missing 6852 - 3105 = 3747
5. Sector -> There are missing 6852 - 5309 = 1543
6. Industry -> There are missing 6852 - 5309 = 1543

In [6]:
listings.describe()

        Last_Price    Market_Cap       ADR TSO     IPO_Year
count  6745.000000  5.954000e+03  1.400000e+02  3105.000000
mean     37.372232  7.174440e+09  5.869242e+07  2009.025765
std      99.249040  3.525455e+10  1.629909e+08     9.337562
min       0.003000  0.000000e+00  2.400000e+04  1972.000000
25%       8.310000  1.203769e+08  4.271224e+06  2003.000000
50%      20.573500  5.585176e+08  1.406964e+07  2013.000000
75%      37.370000  2.888747e+09  3.962613e+07  2017.000000
max    4299.990000  9.459795e+11  1.485426e+09  2019.000000

Interpretation Of Statistics:

Last Price:
1. 6745 entries of stocks in my dataset
2. The average stock price is 37.37
3. Prices vary very wide since the Standard Deviation is 99.25
4. Min and Max prices indicate that there are very expensice stocks of 4299 and some penny stocks for 0.0003.

Quartiles Analysis:
1. 25% of the stocks prices are below 8.31
2. 50% of the stocks are below 20.57
3. 75% of the stocks are below 37.37
4. Only 25% of stocks have high prices in our entries

Market_Cap = Market Capitilization : value of outstanding shares
1. 5954 entries in data with some missing data
2. The average market cap is 7.17 billion, it is currenntly influenced by the large companies in stocks
3. Very Large Variance 35.25 billion reflects that we have companies of different sizes
4. Smallest Market Cap is 0 so that company is no longer trading
5. Highest Market Cap: 945.98 billion

Quartiles Analysis:
1. 25% of the companies have market Cap below 120m
3. 75% of companies are below 2.89 billion 

Diversity: The dataset includes companies of various sizes, ages, and stock price ranges, making it representative of a broad market spectrum.

IPO Trends: A high proportion of companies went public after 2000, reflecting a growing market.

In [7]:
listings.Name

0          Agilent Technologies, Inc.
1                   Alcoa Corporation
2                         Altaba Inc.
3                  AAC Holdings, Inc.
4       American Airlines Group, Inc.
                    ...
6847                      Zumiez Inc.
6848                      Zuora, Inc.
6849                   Zymeworks Inc.
6850    Zynerba Pharmaceuticals, Inc.
6851                      Zynex, Inc.
Name: Name, Length: 6852, dtype: object

Show the name of the companies for each stock

Find out the IPO Year of the MSFT and DIS

In [9]:
listings = pd.read_csv("listings.csv", index_col = "Symbol")

In [10]:
listings.loc[["MSFT", "DIS"], "IPO_Year":]

        IPO_Year             Sector                                 Industry
Symbol
MSFT      1986.0         Technology  Computer Software: Prepackaged Software
DIS          NaN  Consumer Services                      Television Services

The company Microsoft had started the IPO in 1986 while the Disney the data is NAN

# Analyzing Columns & Pandas Series

In [11]:
price = listings.Last_Price.copy() # last Price = Last Traiding Price

In [13]:
price.head(10)

Symbol
A       81.68
AA      29.15
AABA    75.39
AAC      2.16
AAL     34.02
AAMC    29.90
AAME     2.48
AAN     53.54
AAOI    12.30
AAON    44.88
Name: Last_Price, dtype: float64

In [14]:
price.describe()

count    6745.000000
mean       37.372232
std        99.249040
min         0.003000
25%         8.310000
50%        20.573500
75%        37.370000
max      4299.990000
Name: Last_Price, dtype: float64

Interpretation
1. We have 6745 prices for the stocks
2. The mean price is 37.37
3. The most expensive stock is 4299
4. The Standard Deviation is 99 which mean the price between the stocks varies a lot.

In [17]:
price.value_counts()

Last_Price
25.0000     9
9.7300      9
1.6100      8
2.5000      8
10.2600     7
           ..
0.6712      1
103.3600    1
25.8850     1
7.7700      1
101.3300    1
Name: count, Length: 4470, dtype: int64

The most frequent prices is between 25 and 9.73 for traiding a stock

In [18]:
price.value_counts(normalize = True)

Last_Price
25.0000     0.001334
9.7300      0.001334
1.6100      0.001186
2.5000      0.001186
10.2600     0.001038
              ...
0.6712      0.000148
103.3600    0.000148
25.8850     0.000148
7.7700      0.000148
101.3300    0.000148
Name: proportion, Length: 4470, dtype: float64

Interpretation:
1. Interpretation: For every 1,000 stocks, approximately 1.33 stocks have a price of $25.00.

In [19]:
price.sort_values()

Symbol
CYTXZ       0.003
JASNW       0.004
VEACW       0.005
WHLRW       0.007
SNOAW       0.010
            ...
TRNE.U        NaN
UUUU.WS       NaN
VST.WS.A      NaN
WSO.B         NaN
ZNWAA         NaN
Name: Last_Price, Length: 6852, dtype: float64

The lowest value is 0.003

In [22]:
price.sort_values(ascending = False, inplace = True)
price

Symbol
SEB         4299.9900
NVR         2910.4200
AMZN        1847.3300
BKNG        1806.0000
BAC^L       1316.6999
              ...
TRNE.U            NaN
UUUU.WS           NaN
VST.WS.A          NaN
WSO.B             NaN
ZNWAA             NaN
Name: Last_Price, Length: 6852, dtype: float64

The highest price currenlty is 4299$ for the SEB Stock Seaboard Corp

In [23]:
# Sort the series price by the index
price.sort_index(inplace = True)

In [24]:
price

Symbol
A       81.68
AA      29.15
AABA    75.39
AAC      2.16
AAL     34.02
        ...
ZUMZ    26.72
ZUO     19.79
ZYME    15.74
ZYNE     7.85
ZYXI     5.02
Name: Last_Price, Length: 6852, dtype: float64

# Pandas Index Operations

In [25]:
listings.index

Index(['A', 'AA', 'AABA', 'AAC', 'AAL', 'AAMC', 'AAME', 'AAN', 'AAOI', 'AAON',
       ...
       'ZSAN', 'ZTEST', 'ZTO', 'ZTR', 'ZTS', 'ZUMZ', 'ZUO', 'ZYME', 'ZYNE',
       'ZYXI'],
      dtype='object', name='Symbol', length=6852)

In [27]:
listings.index.is_unique

False

Some index entries appear more than once, violating the uniqueness property of a typical DataFrame index

In [31]:
listings.sort_values(by = "Market_Cap", ascending = False, inplace= True)
listings.head(3)

,Exchange,Name,Last_Price,Market_Cap,ADR TSO,IPO_Year,Sector,Industry
Symbol,,,,,,,,
AAPL,NASDAQ,Apple Inc.,200.62,9.459795e+11,NaN,1980.0,Technology,Computer Manufacturing
MSFT,NASDAQ,Microsoft Corporation,120.19,9.221233e+11,NaN,1986.0,Technology,Computer Software: Prepackaged Software
AMZN,NASDAQ,"Amazon.com, Inc.",1847.33,9.074138e+11,NaN,1997.0,Consumer Services,Catalog/Specialty Distribution

Sorting the values by Market Cap from High to low. The highest Capitalization in the data is from the Apple Company and Second is Microsoft

In [33]:
listings.sort_values(["IPO_Year", "Market_Cap"], ascending = [True, False], inplace = True)
listings.head(3)

,Exchange,Name,Last_Price,Market_Cap,ADR TSO,IPO_Year,Sector,Industry
Symbol,,,,,,,,
AMAT,NASDAQ,"Applied Materials, Inc.",42.17,4.003589e+10,NaN,1972.0,Technology,Semiconductors
COKE,NASDAQ,"Coca-Cola Consolidated, Inc.",294.70,2.104584e+09,NaN,1972.0,Consumer Non-Durables,Beverages (Production/Distribution)
WDFC,NASDAQ,WD-40 Company,163.60,2.257237e+09,NaN,1973.0,Basic Industries,Major Chemicals

Sort the values by IPO_Year(ascending) and Market Price (Descending) . The oldest company in the IPO Year is the AMAT Applied Materials, it is traded on NASDAQ in the Technology Sector

In [34]:
listings.nunique()

Exchange         3
Name          5766
Last_Price    4470
Market_Cap    5835
ADR TSO        140
IPO_Year        42
Sector          12
Industry       135
dtype: int64

It is clearly show that the data is from 3 Stock Exchange Marketplaces

In [36]:
listings['Exchange'].unique()

array(['NASDAQ', 'NYSE', 'AMEX'], dtype=object)

The martketplaces in the data are NASDAQ, NYSE, AMEX

In [38]:
listings.nlargest(n = 5, columns = "Market_Cap")

,Exchange,Name,Last_Price,Market_Cap,ADR TSO,IPO_Year,Sector,Industry
Symbol,,,,,,,,
AAPL,NASDAQ,Apple Inc.,200.62,9.459795e+11,NaN,1980.0,Technology,Computer Manufacturing
MSFT,NASDAQ,Microsoft Corporation,120.19,9.221233e+11,NaN,1986.0,Technology,Computer Software: Prepackaged Software
AMZN,NASDAQ,"Amazon.com, Inc.",1847.33,9.074138e+11,NaN,1997.0,Consumer Services,Catalog/Specialty Distribution
GOOGL,NASDAQ,Alphabet Inc.,1206.45,8.387076e+11,NaN,NaN,Technology,"Computer Software: Programming, Data Processing"
GOOG,NASDAQ,Alphabet Inc.,1202.16,8.357253e+11,NaN,2004.0,Technology,"Computer Software: Programming, Data Processing"

The 3 companies that have the largest Market Cap are AAPL, Microsoft, Amazon and GOOGLE

In [39]:
listings.nsmallest(n = 3, columns = "Last_Price")

,Exchange,Name,Last_Price,Market_Cap,ADR TSO,IPO_Year,Sector,Industry
Symbol,,,,,,,,
CYTXZ,NASDAQ,Cytori Therapeutics Inc.,0.003,NaN,NaN,NaN,Health Care,Medical/Dental Instruments
JASNW,NASDAQ,"Jason Industries, Inc.",0.004,NaN,NaN,2013.0,Consumer Durables,Miscellaneous manufacturing industries
VEACW,NASDAQ,Vantage Energy Acquisition Corp.,0.005,NaN,NaN,2017.0,Finance,Business Services

The company with the lowest price in Stocks is Cytori Theraputics, Jason Industries and Vantage Energy Acquisition

### Create a mast to check the stocks that are traided on NASDAQ

In [49]:
nas = listings.Exchange == "NASDAQ"
nyse = listings.Exchange == "NYSE"
amex = listings.Exchange == "AMEX"
'NASDAQ', 'NYSE', 'AMEX'

('NASDAQ', 'NYSE', 'AMEX')

In [41]:
# Check all the stocks that have less than 5 bucks
bucks = listings.Last_Price < 5

In [42]:
bucks

Symbol
AMAT     False
COKE     False
WDFC     False
AAPL     False
KLAC     False
         ...
ZB^A     False
ZB^G     False
ZB^H     False
ZIONW    False
ZTEST    False
Name: Last_Price, Length: 6852, dtype: bool

Create a dataframe only for the companies that are traded on NASDAQ Marketplace

In [44]:
nasdaq = listings.loc[nas].copy()

In [46]:
nasdaq.head(3)

,Exchange,Name,Last_Price,Market_Cap,ADR TSO,IPO_Year,Sector,Industry
Symbol,,,,,,,,
AMAT,NASDAQ,"Applied Materials, Inc.",42.17,4.003589e+10,NaN,1972.0,Technology,Semiconductors
COKE,NASDAQ,"Coca-Cola Consolidated, Inc.",294.70,2.104584e+09,NaN,1972.0,Consumer Non-Durables,Beverages (Production/Distribution)
WDFC,NASDAQ,WD-40 Company,163.60,2.257237e+09,NaN,1973.0,Basic Industries,Major Chemicals

Create a separate dataframe for stocks traded in each marketplace

In [51]:
NYSE = listings.loc[nyse].copy()

In [52]:
AMEX = listings.loc[amex].copy()

Create a dataframe for stocks that are traided less than 5 bucks

In [53]:
cheap_stocks = listings.loc[bucks].copy()

In [54]:
cheap_stocks.head(3)

,Exchange,Name,Last_Price,Market_Cap,ADR TSO,IPO_Year,Sector,Industry
Symbol,,,,,,,,
LYTS,NASDAQ,LSI Industries Inc.,2.99,7.740804e+07,NaN,1985.0,Consumer Durables,Building Products
FAX,AMEX,Aberdeen Asia-Pacific Income Fund Inc,4.14,1.042994e+09,NaN,1986.0,NaN,NaN
CYTR,NASDAQ,CytRx Corporation,0.66,2.220075e+07,NaN,1986.0,Health Care,Biotechnology: Biological Products (No Diagnos...

In [60]:
cheap_stocks.sort_values(by = 'Last_Price', ascending = True, inplace = True  )

In [61]:
cheap_stocks.head(3)

,Exchange,Name,Last_Price,Market_Cap,ADR TSO,IPO_Year,Sector,Industry
Symbol,,,,,,,,
CYTXZ,NASDAQ,Cytori Therapeutics Inc.,0.003,NaN,NaN,NaN,Health Care,Medical/Dental Instruments
JASNW,NASDAQ,"Jason Industries, Inc.",0.004,NaN,NaN,2013.0,Consumer Durables,Miscellaneous manufacturing industries
VEACW,NASDAQ,Vantage Energy Acquisition Corp.,0.005,NaN,NaN,2017.0,Finance,Business Services

Find the cheap stocks per Marketplace

In [71]:
nasdaq = listings[listings['Exchange'] == 'NASDAQ']  # Filter NASDAQ stocks
nyse = listings[listings['Exchange'] == 'NYSE']  # Filter NYSE stocks
amex = listings[listings['Exchange'] == 'AMEX']  # Filter AMEX stocks
bucks = nasdaq['Last_Price'] < 5

In [80]:
nasdaq_cheap_stocks = nasdaq[bucks]

In [82]:
nyse.head(3)

,Exchange,Name,Last_Price,Market_Cap,ADR TSO,IPO_Year,Sector,Industry
Symbol,,,,,,,,
ORCL,NYSE,Oracle Corporation,53.97,1.844508e+11,NaN,1986.0,Technology,Computer Software: Prepackaged Software
MKL,NYSE,Markel Corporation,979.66,1.358329e+10,NaN,1986.0,Finance,Property-Casualty Insurers
BPL,NYSE,Buckeye Partners L.P.,33.61,5.169119e+09,NaN,1986.0,Energy,Natural Gas Distribution

In [84]:
nasdaq_cheap_stocks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 852 entries, LYTS to WHLRW
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Exchange    852 non-null    object
 1   Name        852 non-null    object
 2   Last_Price  852 non-null    float64
 3   Market_Cap  712 non-null    float64
 4   ADR TSO     49 non-null     float64
 5   IPO_Year    425 non-null    float64
 6   Sector      843 non-null    object
 7   Industry    843 non-null    object
dtypes: float64(4), object(4)
memory usage: 59.9+ KB

There are 852 stocks that are being traded on Nasdaq with a price less than 5$